.dialog_box{
    /* height: 600px; */
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem; */
    /* border: 3px solid green; */
}
.dialog_img{
    width: 70%;
    height: 70%;
}
.dialog_divider{
    width: 100%;
    display: flex;
    padding: 0rem 1rem 0rem 1rem;
    /* border: 3px solid green; */
    margin: 1rem 0rem 1rem 0rem;
    align-items: center;
    justify-content: space-evenly;
}
.divider_div{
    background:#557097;
    color:#557097;
    height:0.2rem;
    border-radius: 1rem;
    width:40%;
}
.web_popup{
    font-family: 'Kanit',sans-serif;
font-style: normal;
font-weight: 500;
margin: 0rem 0rem 1rem 0rem;
color: #456BB4;
}
.web_desc{
    text-align: justify;

}