.partner-header {
    /* background-image: url(../../../public/images/header-partner.png); */
    background-repeat: no-repeat;
    height: 550px;
    /* width: 1400px; */
    object-fit: contain
}

.partner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.partner_image_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.12rem;
    
}







.partner-header-h1 {
    position: relative;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 500;
    margin-top: 40px
}

/* .header-p {
    color: #fff;
 
    font-weight: 500;
    margin-top: 30px;

} */

.input-field {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #456BB4;
}

::placeholder {
    color: #CCCCCC !important;
    opacity: 0.5 !important;
}

:focus-visible {
    outline: #456BB4 auto 1px !important;
    outline-color: #456BB4 !important;
    outline-style: auto !important;
    outline-width: 1px !important;
}

.form-textarea {
    width: 200%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #456BB4;
}

.h1-text {
    color: #456BB4;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-size: 25px;
}



.contact-submit {
    background-color: #456BB4;
    background: '#456BB4';
    border: none;
    width: 65%;
    height: 34px;
    border-radius: 5;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 90px
}

.column-change {
    width: 70%;
    margin-left: 15%;
}

.down-img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

/* .all-img {
    height: 60%;
    width: 60%;
    margin-right: 168px;
} */


.image-space {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.space {
    margin-top: -17px
}

.partner-p {
    font-weight: 600;
    color: #000;
    padding-left: 10em
}


.img-btw {
    display: flex;
    flex-direction: row;
}
.img-vec-line
{
   
        margin-top: -24%;
    
}

.ptnr_submit {
    width: 30rem;
    margin-left: 5%;
    background: #3A82D7;
    margin-bottom: 5rem;
    margin-top: 1rem;
}



.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

@media only screen and (max-width:770px){
    .partner-header-h1 {
        position: relative;
        color: #000;
        font-family: 'Rubik', sans-serif;
        font-size: 500;
        margin-top: 26.25rem;
    }
    .ptnr_submit {
        width: 30rem;
        margin-left: 21%;
        background: #3A82D7;
        margin-bottom: 5rem;
        margin-top: 1rem;
    }
    .partner_image_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5.12rem;
        margin-top: 12rem;
    }
    .img-vec-line {
        margin-top: -23rem;
    }
    .partner-p {
        font-weight: 600;
        color: #000;
        padding-left: 11rem;
        width: 49rem;
    }
element.style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.12rem;
    margin-bottom: 10px;
    
}
.form-sec {
    margin-right: 145px;
}
.partner_image_sec1{
    width: 15rem;
    margin-left: -6rem;
}
.partner_image_sec3{
    width: 15rem;
}
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 12.18rem;
    margin-top: 4rem;
}
}
@media only screen and (max-width:500px){
    .img-vec-line {
        margin-top: -23em;
    }
    .partner-header-h1 {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000;
        font-family: 'Rubik', sans-serif;
    }
    .header-p {
        display: flex;
        text-align: center;
        align-items: center;
        color: #000;
        font-weight: 500;
        margin-top: 0rem;
        font-size: 25px;
    }
    .header-p1 {
        display: flex;
        text-align: center;
        align-items: center;
        color: black;
        font-weight: 480;
        margin-top: -0.62rem;
        font-size: 24px;
    }
    .partner_image_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6.12rem;
        margin-top: 15rem;
    }
    .partner_image_sec1 {
        width: 11rem;
        margin-left: -6rem;
    }
    .partner_image_sec3 {
        width: 11rem;
    }
    .partner-p {
        display: flex;
        width: 165%;
        font-weight: 600;
        padding: 1rem;
        color: #000;
        margin-left: 12rem;
    }
    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 12.18rem;
        margin-top: 2rem;
    }
    .form-sec {
        display: flex;
        padding: 1rem;
        width: 13rem;
        margin-right: 48px;
        flex-direction: column;
    }
    .ptnr_submit:not(:disabled) {
        cursor: pointer;
        width: 7rem;
        margin-left: 6rem;
    }
}